# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include addons/custom_graph_editor when exporting (for Asset Library)
# Ignore everything at root level except addons/
/* export-ignore

# Ignore everything in addons/ except custom_graph_editor/
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/addons/gut export-ignore